.selectCountryIcon {
    height: 40px;
    width: 40px;
}

.selectDropDownIcon {
    height: 20px;
    width: 20px;
}

.dropDownCountryOutline {
    border: 1px solid #FFCC00;
    border-radius: 30px;
    display: flex;
    align-items: center;
    height: 50px;
}

.selectCountryIconSeparator {
    border-right: 0.7px solid #68686880;
    height: 31px;
    margin-left: 3px;
    margin-right: 3px;
}

.selectCountryIconBtn {
    height: 44px;
    width: 82px;
}

.mobileInputBox {
    width: 440px;
    height: 50px;
    padding: 6px 218px 6px 5px;
    border-radius: 30px;
    border: 1px solid #FFCC00;
    display: flex;
    align-items: center;
    margin-left: 1%;
}

.countryCodePlaceholder{
    margin-right: 20px;
    background-color: #EAEAEA;
    padding: 4%;
    text-align: center;
    border-radius: 50%;
}

.numberInput {
    border: 0;
    outline: 0;
}

.numberInput:focus {
    outline: none !important;
}

.otpBtn{
    font-family: Quicksand, serif !important;
    width: 166px !important;
    height: 50px !important;
    border-radius: 30px !important;
    background-color: #0D6EFD !important;
    color: white !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    margin-left: 20px !important;
}

.otpBtn:hover{
    background-color: rgba(13, 110, 253, 0.71) !important;
}

.errorText{
    color: lightcoral;
    margin-left: 3%;
}

.otpInputSection{
    font-family: Quicksand;
    color: #0D6EFD;
}

.OTPEnterText{
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
}

.OTPSentText{
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
.numberInput::-webkit-outer-spin-button,
.numberInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.numberInput[type=number] {
    -moz-appearance: textfield;
}

.otpInput{
    border-bottom: 2px solid #0D6EFD;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    text-align: center;
    font-size: 16px;
    font-family: Quicksand;
    color: #0D6EFD;
}

.otpInput:focus{
    border-bottom: 2px solid #FFCC00;
}

.timeRemainingText{
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-top: 5px;
}

.verifyOTPBtn{
    width: 270px;
    height: 36px;
    border-radius: 20px;
    background-color: #0D6EFD;
    color: white;
}

.verifyOTPBtn:hover{
    background-color: rgba(13, 110, 253, 0.6);
}

.otpInputContainer{
    margin-left: 10px;
}
